/* Examples ------------------------------------------------ */
#examples {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    
    height: 300px;
    padding: 20px; 
}

#examples > article {
    margin: 0;
    max-height: 500px;
}

#examples > article > p {
    max-width: 600px;
    margin: 0 auto; /* Centers the paragraph horizontally */
}

#examples > figure > img {
    max-height: 260px;
    max-width: 100%;
    margin: 0 auto; /* Centers the image horizontally */
}