#bannerButtons > a {
    width: 150px;
    height: 50px;
    margin: 10px 5px 20px 5px;
}

#sectionTitle {
    margin: 40px 0 20px;
    text-align: center;
    color: #333;
}

/* Button section */
.features-section {
    padding: 40px 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.features-section > h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.feature-box {
    display: flex;
    flex-direction: column;

    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    padding: 20px;
    width: 100%;
    max-width: 300px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    text-align: center;
    background: white;
}

.feature-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

    cursor: pointer;
}

.feature-box > i {
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;

    /* align-self: center; */
}

.feature-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #3498db;
}

.feature-description {
    color: #666;
    line-height: 1.5;
}
/* End of button section */

@media (max-width: 400px) {

    .text-image-block {
        flex-direction: column; 
    }
}

.text-image-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto 20px;
    padding: 20px;

    border: 1px solid #2e3035;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);

    background-color: #313338;
    color: white;
}

.text-content {
    flex: 1;
    padding-right: 20px; 
}

.text-content a {
    color: #3498db;
}

.image-content {
    flex: 1;
    text-align: right; 
}

.image-content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
